/*Main*/
button{
  background: #5fbaa2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
}


/* MenuBar */
nav {
    background-color: #333; /* sets the background color of the menu bar */
  }
  
  nav ul {
    list-style-type: none; /* removes the bullet points from the menu */
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav li {
    float: left; /* positions each menu item next to each other */
    
  }
  
  nav li a {
    display: block;
    color: white; /* sets the font color of the menu items */
    text-align: center;
    padding: 14px 16px; /* sets the padding for each menu item */
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111; /* sets the background color when hovering over a menu item */
  }

/* Content of Dashboard*/
.container{

   
}
 .content {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 20px;*/

    display: flex;
    flex:1;
    order: 1;
    flex-direction: column;
    gap: 20px;

    justify-content: center;
    align-items: stretch;
    padding: 20px;
    
  }
  .content h4{
    align-self: center;
  }

  #card-container{
  
  }

  .section{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
.content-stats{
  display: flex;
  flex-direction: column;
  gap: 20px;

  justify-content: center;
  align-items: stretch;
  padding: 20px;
  order: 2;
}
.section-stats{
  display: flex;
    flex-direction: column;
    gap: 10px;
}
  /* Dashboard Cards */
 .box {
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }

  .box input,textarea{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .box:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px #ccc;
  }

  .box h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 0;
  }

  .box p {
    font-size: 1.2em;
    color: #999;
    margin-bottom: 0;
  }
.box img{
  width: 150px;
  height: 100px;
}
#img-neo4j{
  width: 200px;
  height:90px;
}
#img-mongodb{
  width: 200px;
  height:80px;
}

  /*Learning App testapp*/
  #testapp{
    border:0px; 
    width:100%; 
    height:500px
  }
