
#sign-in{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 30%;
    display: 50%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

}
#sign-in input{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sign-in button{
    background: #5fbaa2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: xx-large;
}

.oauth-button{
 
    color: #141414;
    padding: 10px 20px;
    font-size: 14px;
    min-width: 64px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: bold;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    background-color: #a4a9fc;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-out, color 0.2s ease-out,
      box-shadow 0.2s ease-out, border-color 0.2s ease-out;
}
.oauth-button:hover{
    background-color: rgba(0, 0, 0, 0.04);
}